@()

@main("Welcome to Play") {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>

    <table id="numbers"></table>

    <form method="POST" action="@routes.Application.addNumber()">
        values to be saved
        <input type="number" name="value" min="-999999" max="1000000"/>
        <button>add number</button>
    </form>
    
    <form method="GET" action="@routes.Application.getCount()">
        <button>get count</button>
    </form>
    
    <form method="GET" action="@routes.Application.getAverage()">
        <button>get average</button>
    </form>
    
    <form method="GET" action="@routes.Application.getSum()">
        <button>get sum</button>
    </form>
    
     <form method="POST" action="@routes.Application.deleteNumber()">
     	delete number with id: 
        <input type="number" name="id" min="1" />       
        <button>delete</button>
    </form>
    
     <form method="POST" action="@routes.Application.updateNumber()">
     	update number with id: 
        <input type="number" name="id" min="1" autocomplete="on" title="bla"/> 
        new value:
        <input type="number" name="value" min="-999999" max="1000000" autocomplete="on"/> 
        <button>update</button>
    </form>
   }